@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-3xl sm:text-4xl font-bold my-8;
    }

    article {
        @apply text-lg;
    }

    label {
        @apply text-4xl font-bold;
    }

    select {
        @apply bg-gray-200 font-bold p-2 text-xl my-8;
    }
}

@layer components {

    .movie-container {
        @apply relative;
        display: inline-block;
    }

    .movie-details {
        @apply bg-black bg-opacity-50 w-full absolute mt-12;
        color: white;
        top: 0;
        left: 0;
        height: 30%;
        width: 100%;
    }

    .movie-details h2 {
        @apply text-white text-2xl font-bold pt-3 pl-5
    }

    .movie-grid {
        display: grid;
        grid-template-columns: repeat(1, auto);
        gap: 4rem;
        justify-content: start;
    }

    .movie-grid .movie-container:nth-child(n+3) {
        display: none;
    }

    .movie-details button {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        color: white;
        padding: 0.5rem 1rem;
        @apply bg-gray-900 hover:bg-gray-950 font-bold w-24 rounded-full;
    }

    .movie-container img {
        display: block;
        width: 300px;
        height: auto;
        max-width: 100%;
    }

    .popup {
        display: flex;
        flex-direction: column;
        width: 35%;
        max-width: 35%;
        padding: 20px;
        text-align: left;
        background-color: white;
        border: 5px solid black;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    }

    .popup img {
        width: 200px;
        height: 250px;
    }

    .button-more {
        @apply bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 w-32 mt-8 rounded-full self-center lg:hidden;
    }

    .force-display {
        display: inline-block !important;
    }

    .hidden-important {
        display: none !important;
    }

    #movie-info p {
        @apply text-base;
    }

    @media (min-width: 640px) {
        .movie-grid {
            grid-template-columns: repeat(2, auto);
        }

        .movie-grid .movie-container:nth-child(-n+5) {
            display: inline-block;
        }

        .movie-grid .movie-container:nth-child(n+5) {
            display: none;
        }
    }

    @media (min-width: 1024px) {
        .movie-grid {
            grid-template-columns: repeat(3, auto);
        }

        .movie-grid .movie-container:nth-child(n) {
            display: inline-block;
        }

        #movie-info p {
            @apply text-lg;
        }
    }
}